html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1.6; font-family: arial;}
h1{font-size: 28px; color: #333;}h2{font-size: 21px; color: #555;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

ol.papersList {
    padding-left: 1.5em;
    list-style-position: outside;
}

html {
    position: relative;
    min-height: 100%;
}
body {
	background-color: #FFF;
}
header {
    background: #d8d6d3;
    padding: 10px 30px;
    margin: auto;
}
header div.navwrap {
    max-width: 1240px;
    margin: auto;
}
nav {
    display: inline-block;
}
nav ul li a {
    /* background: #EEE; */
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #555;
    /* border-radius: 10px; */
}
nav ul li a:hover {
	background: #FFF;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}
#pageContent {
    max-width: 1200px;
    margin: auto;
    border: none;
}
main {
	float: left;
	width: 65%;
    margin-bottom: 50px;
}
main.main2 {
	float: middle;
	width: 100%;
}
aside {
	float: right;
	width: 30%;
}
aside div a i{
    color: #555;
	font-size: 60px;
}
aside div a{
    color: #555;
    text-decoration: none;
}
aside div a:visited i{
    color: #555;
}
aside div a img{
    opacity: 0.663;
    max-width: 53.5px;
    max-height: 53.5px;
    vertical-align:text-bottom;
    padding-bottom: 3px;
}
article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}
article p {
	
}
article ul {
    margin: 10px;
}
article ul li {
    margin: 10px;
}
article img.projimg {
    /* display:block; */
    width: 40%; 
}

main section {
	
}
footer {
	background: #d8d6d3;
	margin: auto;
	clear: both;
	text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
footer p {
	padding: 10px;
    color: #555;
}
footer p a {
    color: #aaa1;
}
address {
    padding: 10px 20px 30px 10px;
}
aside > div {
	margin: 10px auto;
	/* background: #999; */
	min-height: 50px;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}
#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
body > section {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #777;
}
#headshot img {
    display:block;
    width: 100%; 
}
#headshot h3 {
    font-weight: normal;
    margin-bottom: 12px;
    text-align: right;
}

@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}
@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}
  
